# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/

# Raw datasets (DO NOT PUSH)
data/
*.ubyte
*.gz
*.zip
*.tar
*.tar.gz

# Large artifacts
checkpoints/
*.pt
*.pth
*.ckpt
*.pkl

# System
.DS_Store

# Junk
results_package_for_chatgpt.zip
